.card-container {
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 1;
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
    background: rgba(255, 255, 255, 0.6); /* Semi-transparent white background for the blur effect */
    border-radius: 10px;
    text-align: center;
    max-width: 800px; /* Set your desired maximum width */
    margin: 0 auto; /* Center the grid horizontally */

}