#nav {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    width: 90%;
}

li {
    list-style: none;
}

.home-btn {
    border: none;
    padding: 10px 20px;
    color: black;
    background-color: transparent;
    font-size: 17px;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
}

.home-btn.active {
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.auth-btn {
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    margin: 0 5px;
    background-color: transparent;
    color: white;
    font-weight: 700;
    cursor: pointer;
  
    /* Create a color gradient border */
    box-shadow: 0 0 0 1px violet, 0 0 0 1px purple;
    background-clip: content-box;
    transition: box-shadow 0.5s;
  }
  
  .auth-btn:hover {
    /* Rotate the gradient to opposite corners on hover */
    animation: rotateGradient 0.5s linear infinite alternate;
  }
  
  @keyframes rotateGradient {
    0% {
      box-shadow: 0 0 0 1px pink, 0 0 0 1px purple;
    }
    100% {
      box-shadow: 0 0 0 1px purple, 0 0 0 1px pink;
    }
  }


.nav-btn {
    border: none;
    padding: 10px 20px;
    color: black;
    background-color: transparent;
    font-size: 17px;
    margin: 0 10px;
    cursor: pointer;
}

.nav-btn.active {
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: initial;
}

.bx-cart {
    margin-right: 5px;
}

.user-icon {
    background-color: transparent;
    border: none;
    font-size: 35px;
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    right: 11%;
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
    background: rgba(255, 255, 255, 0.6); /* Semi-transparent white background for the blur effect */
}

.profile-container {
    padding: 5px 5px;
    width: 150px;
}

.profile-container li {
    text-align: left;
    padding: 1px 0;
}

.user-btn {
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 5px ;
    border: none;
    background-color: transparent;
    transition: background-color .3s ease;
}

.user-btn:hover {
    background-color: rgba(240, 240, 240, 0.974);
}
